@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%; /* #ffffff */
		--foreground: 222.2 84% 4.9%; /* #1b1b1b */
		--muted: 210 40% 96.1%; /* #f5f7fa */
		--muted-foreground: 215.4 16.3% 46.9%; /* #737373 */
		--popover: 0 0% 100%; /* #ffffff */
		--popover-foreground: 222.2 84% 4.9%; /* #1b1b1b */
		--card: 0 0% 100%; /* #ffffff */
		--card-foreground: 222.2 84% 4.9%; /* #1b1b1b */
		--border: 214.3 31.8% 91.4%; /* #e5e7eb */
		--input: 214.3 31.8% 91.4%; /* #e5e7eb */
		--primary: 222.2 47.4% 11.2%; /* #1c1c1c */
		--primary-foreground: 210 40% 98%; /* #f9fafb */
		--secondary: 210 40% 96.1%; /* #f5f7fa */
		--secondary-foreground: 222.2 47.4% 11.2%; /* #1c1c1c */
		--accent: 210 40% 96.1%; /* #f5f7fa */
		--accent-foreground: 222.2 47.4% 11.2%; /* #1c1c1c */
		--destructive: 0 72.2% 50.6%; /* #ff4d4f */
		--destructive-foreground: 210 40% 98%; /* #f9fafb */
		--ring: 222.2 84% 4.9%; /* #1b1b1b */
		--radius: 0.5rem;
		--sidebar-background: 0 0% 98%; /* #fafafa */
		--sidebar-foreground: 240 5.3% 26.1%; /* #424242 */
		--sidebar-primary: 240 5.9% 10%; /* #1a1a1a */
		--sidebar-primary-foreground: 0 0% 98%; /* #fafafa */
		--sidebar-accent: 240 4.8% 95.9%; /* #f2f2f2 */
		--sidebar-accent-foreground: 240 5.9% 10%; /* #1a1a1a */
		--sidebar-border: 220 13% 91%; /* #e3e3e3 */
		--sidebar-ring: 217.2 91.2% 59.8%; /* #00bcd4 */
	}

	.dark {
		--background: 222.2 84% 4.9%; /* #1b1b1b */
		--foreground: 210 40% 98%; /* #f9fafb */
		--muted: 217.2 32.6% 17.5%; /* #2e2e2e */
		--muted-foreground: 215 20.2% 65.1%; /* #a3a3a3 */
		--popover: 222.2 84% 4.9%; /* #1b1b1b */
		--popover-foreground: 210 40% 98%; /* #f9fafb */
		--card: 222.2 84% 4.9%; /* #1b1b1b */
		--card-foreground: 210 40% 98%; /* #f9fafb */
		--border: 217.2 32.6% 17.5%; /* #2e2e2e */
		--input: 217.2 32.6% 17.5%; /* #2e2e2e */
		--primary: 210 40% 98%; /* #f9fafb */
		--primary-foreground: 222.2 47.4% 11.2%; /* #1c1c1c */
		--secondary: 217.2 32.6% 17.5%; /* #2e2e2e */
		--secondary-foreground: 210 40% 98%; /* #f9fafb */
		--accent: 217.2 32.6% 17.5%; /* #2e2e2e */
		--accent-foreground: 210 40% 98%; /* #f9fafb */
		--destructive: 0 62.8% 30.6%; /* #b71c1c */
		--destructive-foreground: 210 40% 98%; /* #f9fafb */
		--ring: 212.7 26.8% 83.9%; /* #d1d5db */
		--sidebar-background: 240 5.9% 10%; /* #1a1a1a */
		--sidebar-foreground: 240 4.8% 95.9%; /* #f2f2f2 */
		--sidebar-primary: 224.3 76.3% 48%; /* #0077ff */
		--sidebar-primary-foreground: 0 0% 100%; /* #ffffff */
		--sidebar-accent: 240 3.7% 15.9%; /* #262626 */
		--sidebar-accent-foreground: 240 4.8% 95.9%; /* #f2f2f2 */
		--sidebar-border: 240 3.7% 15.9%; /* #262626 */
		--sidebar-ring: 217.2 91.2% 59.8%; /* #00bcd4 */
	}
}

@layer base {
	* {
		@apply border-border;
		@apply scroll-smooth;
	}
	body {
		@apply bg-background text-foreground;
	}
}
